:root {
    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-300: #cbd5e1;
    --color-slate-400: #94a3b8;
    --color-slate-500: #64748b;
    --color-slate-600: #475569;
    --color-slate-700: #334155;
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;
    
    --color-sky-50: #f0f9ff;
    --color-sky-100: #e0f2fe;
    --color-sky-200: #bae6fd;
    --color-sky-300: #7dd3fc;
    --color-sky-400: #38bdf8;
    --color-sky-500: #0ea5e9;
    --color-sky-600: #0284c7;
    --color-sky-700: #0369a1;
    --color-sky-800: #075985;
    --color-sky-900: #0c4a6e;

    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-200: #fecaca;
    --color-red-300: #fca5a5;
    --color-red-400: #f87171;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;
    --color-red-900: #7f1d1d;

    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d1fae5;
    --color-emerald-200: #a7f3d0;
    --color-emerald-300: #a7f3d0;
    --color-emerald-400: #34d399;
    --color-emerald-500: #10b981;
    --color-emerald-600: #059669;
    --color-emerald-700: #047857;
    --color-emerald-800: #065f46;
    --color-emerald-900: #064e3b;
    
    --color-violet-50: #f5f3ff;
    --color-violet-100: #ede9fe;
    --color-violet-200: #ddd6fe;
    --color-violet-300: #c4b5fd;
    --color-violet-400: #a78bfa;
    --color-violet-500: #8b5cf6;
    --color-violet-600: #7c3aed;
    --color-violet-700: #6d28d9;
    --color-violet-800: #5b21b6;
    --color-violet-900: #4c1d95;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

h1,
h2 {
    /* font-weight: normal; */
    color: rgb(17 24 39);
    /* color: rgb(31 41 55); */
    /* color: rgb(55 65 81); */
}

p {
    font-size: 1.6rem;
    /* padding-bottom: 0.8rem; */
    line-height: 2.0;
    color: var(--color-slate-400);
}

a {
    color: var(--color-slate-50);
    text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
    padding-left: 1.6rem;
    text-indent: -1.6rem;
    line-height: 2;
    color: var(--color-slate-400);
}

li:before {
    /* content: '▢'; */
    padding-right: 0.8rem;
}

section {
    padding-bottom: 3.2rem;
}

.container {
    max-width: 130rem;
    margin: 0 auto;
}

.header-primary {
    font-size: 3.0rem;
    line-height: 3.6rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--color-slate-200);
    margin-bottom: 0.4rem;
}

.header-secondary {
    font-size: 2.0rem;
    line-height: 1.4;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-slate-200);
    padding-bottom: 0.8rem; 
}

.subheader-1 {
    color: var(--color-sky-400);
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    display: inline-block;
}

/* NAVIGATION */
.navigation-section {
    margin-bottom: 3.2rem;
}
.navigation-section span {
    color: var(--color-slate-50);
    font-weight: 700;
    font-size: 1.4rem;
    padding-bottom: 1.6rem;
    /* letter-spacing: 0.5px; */
}
.navigation-section a {
    color: var(--color-slate-400);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    padding: 0.8rem 1.6rem;
    border-left: 1px solid var(--color-slate-800);
}
.navigation-section a:hover {
    color: var(--color-slate-300);
    border-left: 1px solid var(--color-slate-700);
}

.list-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
    color: var(--color-slate-400);
}

.list-icon {
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* PAGE INDEX */
.page-index span {
    display: block;
    color: var(--color-slate-100);
    font-weight: 600;
    font-size: 1.4rem;
    padding-bottom: 1.6rem;
}
.page-index a {
    color: var(--color-slate-400);
    font-size: 1.4rem;
    font-weight: 500;
}

.list-item svg{
}

.position-sticky {
    position: sticky;
}
.position-fixed {
    position: fixed;
}

.overflow-scroll { overflow: scroll; }
.overflow-x-scroll {overflow-x: scroll; }
.overflow-y-scroll {overflow-y: scroll; }

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.flex-auto { flex: 1 1 auto; }

.h-screen { height: 100vh; }



.text-3xl {
    font-size: 3.0rem; /* 30px */
    line-height: 3.6rem; /* 36px */
}

.text-6xl { 
    font-size: 6.0rem; /* 60px */
    line-height: 1;
}

.bg-slate-50 { background-color: var(--color-slate-50); }
.bg-slate-100 { background-color: var(--color-slate-100); }
.bg-slate-200 { background-color: var(--color-slate-200); }
.bg-slate-300 { background-color: var(--color-slate-300); }
.bg-slate-400 { background-color: var(--color-slate-400); }
.bg-slate-500 { background-color: var(--color-slate-500); }
.bg-slate-600 { background-color: var(--color-slate-600); }
.bg-slate-700 { background-color: var(--color-slate-700); }
.bg-slate-800 { background-color: var(--color-slate-800); }
.bg-slate-900 { background-color: var(--color-slate-900); }

.bg-neutral-50 { background-color: rgb(250 250 250); }
.bg-neutral-100 { background-color: rgb(245 245 245); }
.bg-neutral-200 { background-color: rgb(229 229 229); }
.bg-neutral-300 { background-color: rgb(212 212 212); }

.bg-gray-700 { background-color: rgb(55 65 81); }
.bg-gray-800 { background-color: rgb(31 41 55); }
.bg-gray-900 { background-color: rgb(17 24 39); }

.text-red-50 { color: var(--color-red-50); }
.bg-red-200 { background-color: rgb(254 202 202); }
.bg-red-400 { background-color: var(--color-red-400); }

.text-emerald-50 { color: var(--color-emerald-50); }
.bg-emerald-400 { background-color: var(--color-emerald-400); }

.text-violet-50 { color: var(--color-violet-50); }
.bg-violet-400 { background-color: var(--color-violet-400); }

.text-sky-50 { color: var(--color-sky-50); }
.bg-sky-400 { background-color: var(--color-sky-400); }


.bg-lime-200 { background-color: rgb(217 249 157); }

.text-gray-700 { color: rgb(55 65 81); }
.text-gray-800 { color: rgb(31 41 55); }
.text-gray-900 { color: rgb(17 24 39); }

.w-4 { width: 1.6rem; } /* 16px */
.w-5 { width: 2.0rem; } /* 20px */
.w-6 { width: 2.4rem; } /* 24px */
.w-8 { width: 3.2rem; } /* 32px */
.w-16 { width: 6.4rem; } /* 64px */
.w-32 { width: 12.8rem; } /* 128px */
.w-64 { width: 25.6rem; } /* 256px */
.w-128 { width: 51.2rem; } /* 256px */

.h-4 { height: 1.6rem; } /* 16px */
.h-6 { height: 2.4rem; } /* 16px */
.h-8 { height: 3.2rem; } /* 32px */
.h-16 { height: 6.4rem; } /* 64px */
.h-32 { height: 12.8rem; } /* 128px */
.h-64 { height: 25.6rem; } /* 256px */

.p-4 { padding: 1.6rem; } /* 16px */
.px-4 { padding-left: 1.6rem; padding-right: 1.6rem; } /* 16px */
.py-4 { padding-top: 1.6rem; padding-bottom: 1.6rem; } /* 16px */
.pl-4 { padding-left: 1.6rem; } /* 16px */
.pt-4 { padding-top: 1.6rem; } /* 16px */
.pr-4 { padding-right: 1.6rem; } /* 16px */
.pb-4 { padding-bottom: 1.6rem; } /* 16px */

.p-8 { padding: 3.2rem; } /* 32px */
.px-8 { padding-left: 3.2rem; padding-right: 3.2rem; }
.py-8 { padding-top: 3.2rem; padding-bottom: 3.2rem; }
.pl-8 { padding-left: 3.2rem; }
.pt-8 { padding-top: 3.2rem; }
.pr-8 { padding-right: 3.2rem; }
.pb-8 { padding-bottom: 3.2rem; }

.p-16 { padding: 6.4rem; } /* 64px */
.px-16 { padding-left: 6.4rem; padding-right: 6.4rem; }
.py-16 { padding-top: 6.4rem; padding-bottom: 6.4rem; }
.pl-16 { padding-left: 6.4rem; }
.pt-16 { padding-top: 6.4rem; }
.pr-16 { padding-right: 6.4rem; }
.pb-16 { padding-bottom: 6.4rem; }

.px-32 { padding-left: 12.8rem; padding-right: 12.8rem; } /* 128px */
.py-32 { padding-top: 12.8rem; padding-bottom: 12.8rem; } /* 128px */

.px-64 { padding-left: 25.6rem; padding-right: 25.6rem; } /* 256px */
.py-64 { padding-top: 25.6rem; padding-bottom: 25.6rem; } /* 256px */