* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    background-color: rgb(243 244 246);
    /* color: rgb(75 85 99); */
    color: rgb(55 65 81);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    background-color: #fff;
}

article {
    max-width: 80rem;
    margin: 0 auto;
    padding: 6.4rem 0;
    background-color: #fff;
}

ul {
    /* list-style: none; */
    margin-left: 2.0rem;
    margin-bottom: 1.6rem;
    margin-top: -0.8rem;
}

li {
    margin-bottom: 0.6rem;
}

h1 {
    color: rgb(17 24 39);
    font-size: 6.4rem;
}

h2 {
    color: rgb(17 24 39);
    font-size: 3.6rem;
    margin-top: 2.4rem;
}

p {
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
}

strong {
    color: rgb(17 24 39);
}