* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

h1,
h2 {
    font-weight: normal;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.flex-auto { flex: 1 1 auto; }

.h-screen { height: 100vh; }

.text-3xl {
    font-size: 3.0rem; /* 30px */
    line-height: 3.6rem; /* 36px */
}

.text-6xl { 
    font-size: 6.0rem; /* 60px */
    line-height: 1;
}

.bg-neutral-50 { background-color: rgb(250 250 250); }
.bg-neutral-100 { background-color: rgb(245 245 245); }
.bg-neutral-200 { background-color: rgb(229 229 229); }
.bg-neutral-300 { background-color: rgb(212 212 212); }

.bg-red-200 { background-color: rgb(254 202 202); }
.bg-lime-200 { background-color: rgb(217 249 157); }

.w-4 { width: 1.6rem; } /* 16px */
.w-8 { width: 3.2rem; } /* 32px */
.w-16 { width: 6.4rem; } /* 64px */
.w-32 { width: 12.8rem; } /* 128px */
.w-64 { width: 25.6rem; } /* 256px */

.p-4 { padding: 1.6rem; } /* 16px */
.px-4 { padding-left: 1.6rem; padding-right: 1.6rem; } /* 16px */
.py-4 { padding-top: 1.6rem; padding-bottom: 1.6rem; } /* 16px */
.pl-4 { padding-left: 1.6rem; } /* 16px */
.pt-4 { padding-top: 1.6rem; } /* 16px */
.pr-4 { padding-right: 1.6rem; } /* 16px */
.pb-4 { padding-bottom: 1.6rem; } /* 16px */

.p-8 { padding: 3.2rem; } /* 32px */
.px-8 { padding-left: 3.2rem; padding-right: 3.2rem; }
.py-8 { padding-top: 3.2rem; padding-bottom: 3.2rem; }
.pl-8 { padding-left: 3.2rem; }
.pt-8 { padding-top: 3.2rem; }
.pr-8 { padding-right: 3.2rem; }
.pb-8 { padding-bottom: 3.2rem; }

.p-16 { padding: 6.4rem; } /* 64px */
.px-16 { padding-left: 6.4rem; padding-right: 6.4rem; }
.py-16 { padding-top: 6.4rem; padding-bottom: 6.4rem; }
.pl-16 { padding-left: 6.4rem; }
.pt-16 { padding-top: 6.4rem; }
.pr-16 { padding-right: 6.4rem; }
.pb-16 { padding-bottom: 6.4rem; }

.px-32 { padding-left: 12.8rem; padding-right: 12.8rem; } /* 128px */
.py-32 { padding-top: 12.8rem; padding-bottom: 12.8rem; } /* 128px */

.px-64 { padding-left: 25.6rem; padding-right: 25.6rem; } /* 256px */
.py-64 { padding-top: 25.6rem; padding-bottom: 25.6rem; } /* 256px */