:root {
    --clr-zinc-50: #fafafa;
    --clr-zinc-100: #f4f4f5;
    --clr-zinc-200: #e4e4e7;
    --clr-zinc-300: #d4d4d8;
    --clr-zinc-400: #a1a1aa;
    --clr-zinc-500: #71717a;
    --clr-zinc-600: #52525b;
    --clr-zinc-700: #3f3f46;
    --clr-zinc-800: #27272a;
    --clr-zinc-900: #18181b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

ul {
    list-style-type: none;
}

/**********/
/* SIZING */
/**********/
.w-64 { width: 25.6rem; }
.w-128 { width: 51.2rem; }
.h-screen { height: 100vh; }

/* MAX-WIDTH */
.max-w-0 { max-width: 0rem; }
.max-w-none { max-width: none; }
.max-w-xs { max-width: 32rem; }
.max-w-sm { max-width: 38.4rem; }
.max-w-md { max-width: 44.8rem; }
.max-w-lg { max-width: 51.2rem; }
.max-w-xl { max-width: 57.6rem; }
.max-w-2xl { max-width: 67.2rem; }
.max-w-3xl { max-width: 76.8rem; }
.max-w-4xl { max-width: 89.6rem; }
.max-w-5xl { max-width: 102.4rem; }
.max-w-6xl { max-width: 115.2rem; }
.max-w-7xl { max-width: 128.0rem; }
.max-w-full { max-width: 100%; }
.max-w-min { max-width: min-content; }
.max-w-max { max-width: max-content; }
.max-w-fit { max-width: fit-content; }
.max-w-prose { max-width: 65ch; }
.max-w-screen-sm { max-width: 640px; }
.max-w-screen-md { max-width: 768px; }
.max-w-screen-lg { max-width: 1024px; }
.max-w-screen-xl { max-width: 1280px; }
.max-w-screen-2xl { max-width: 1536px; }


/* FLEX */
.flex { display: flex; }

/* FLEX */
.flex-1 { flex: 1 1 0%; }
.flex-auto { flex: 1 1 auto; }
.flex-initial { flex: 0 1 auto; }
.flex-none { flex: none; }

.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-auto {flex: 1 1 auto; }
.basis-full { flex-basis: 100%; }


/* LAYOUT */
.fixed { position: fixed; }
.sticky {position: sticky; }

/* OVERFLOW */
.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.overflow-clip { overflow: clip; }
.overflow-visible { overflow: visible; }
.overflow-scroll { overflow: scroll; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-auto { overflow-y: auto; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-x-clip { overflow-x: clip; }
.overflow-y-clip { overflow-y: clip; }
.overflow-x-visible { overflow-x: visible; }
.overflow-y-visible { overflow-y: visible; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-y-scroll { overflow-y: scroll; }


/***********/
/* SPACING */
/***********/

/* PADDING */
.pb-1 { padding-bottom: 0.4rem; }
.pb-2 { padding-bottom: 0.8rem; }
.pb-3 { padding-bottom: 1.2rem; }
.pb-4 { padding-bottom: 1.6rem; }
.pb-5 { padding-bottom: 2.0rem; }
.pb-6 { padding-bottom: 2.4rem; }
.pb-7 { padding-bottom: 2.8rem; }
.pb-8 { padding-bottom: 3.2rem; }

.pt-1 { padding-top: 0.4rem; }
.pt-2 { padding-top: 0.8rem; }
.pt-3 { padding-top: 1.2rem; }
.pt-4 { padding-top: 1.6rem; }
.pt-5 { padding-top: 2.0rem; }
.pt-6 { padding-top: 2.4rem; }
.pt-7 { padding-top: 2.8rem; }
.pt-8 { padding-top: 3.2rem; }
.pt-9 { padding-top: 3.6rem; }
.pt-10 { padding-top: 4.0rem; }
.pt-11 { padding-top: 4.4rem; }
.pt-12 { padding-top: 4.8rem; }
.pt-14 { padding-top: 5.6rem; }
.pt-16 { padding-top: 6.4rem; }

.px-1 { padding-left: 0.4rem; padding-right: 0.4rem; }
.px-2 { padding-left: 0.8rem; padding-right: 0.8rem; }
.px-3 { padding-left: 1.2rem; padding-right: 1.2rem; }
.px-4 { padding-left: 1.6rem; padding-right: 1.6rem; }
.px-5 { padding-left: 2.0rem; padding-right: 2.0rem; }
.px-6 { padding-left: 2.4rem; padding-right: 2.4rem; }
.px-7 { padding-left: 2.8rem; padding-right: 2.8rem; }
.px-8 { padding-left: 3.2rem; padding-right: 3.2rem; }

/* MARGIN */
.mb-1 { margin-bottom: 0.4rem; }
.mb-2 { margin-bottom: 0.8rem; }
.mb-3 { margin-bottom: 1.2rem; }
.mb-4 { margin-bottom: 1.6rem; }
.mb-5 { margin-bottom: 2.0rem; }
.mb-6 { margin-bottom: 2.4rem; }
.mb-7 { margin-bottom: 2.8rem; }
.mb-8 { margin-bottom: 3.2rem; }

.mt-1 { margin-top: 0.4rem; }
.mt-2 { margin-top: 0.8rem; }
.mt-3 { margin-top: 1.2rem; }
.mt-4 { margin-top: 1.6rem; }
.mt-5 { margin-top: 2.0rem; }
.mt-6 { margin-top: 2.4rem; }
.mt-7 { margin-top: 2.8rem; }
.mt-8 { margin-top: 3.2rem; }
.mt-9 { margin-top: 3.6rem; }
.mt-10 { margin-top: 4.0rem; }
.mt-11 { margin-top: 4.4rem; }
.mt-12 { margin-top: 4.8rem; }
.mt-14 { margin-top: 5.6rem; }
.mt-16 { margin-top: 6.4rem; }

.ml-1  { margin-left: 0.4rem; }
.ml-2  { margin-left: 0.8rem; }
.ml-3  { margin-left: 1.2rem; }
.ml-4  { margin-left: 1.6rem; }
.ml-5  { margin-left: 2.0rem; }
.ml-6  { margin-left: 2.4rem; }
.ml-7  { margin-left: 2.8rem; }
.ml-8  { margin-left: 3.2rem; }
.ml-9  { margin-left: 3.6rem; }
.ml-10 { margin-left: 4.0rem; }
.ml-11 { margin-left: 4.4rem; }
.ml-12 { margin-left: 4.8rem; }
.ml-14 { margin-left: 5.6rem; }
.ml-16 { margin-left: 6.4rem; }

.mx-auto { margin-left: auto; margin-right: auto; }


.px-8 { padding-left: 3.2rem; padding-right: 3.2rem; }


.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }


/**************/
/* TYPOGRAPHY */
/**************/

/* FONT SIZE */
.text-xs { font-size: 1.2rem; line-height: 1.6rem; }
.text-sm { font-size: 1.4rem; line-height: 2.0rem; }
.text-base { font-size: 1.6rem; line-height: 2.4rem; }
.text-lg { font-size: 1.8rem; line-height: 2.8rem; }
.text-xl { font-size: 2.0rem; line-height: 2.8rem; }
.text-2xl { font-size: 2.4rem; line-height: 3.2rem; }
.text-3xl { font-size: 3.0rem; line-height: 3.6rem; }
.text-4xl { font-size: 3.6rem; line-height: 1; }
.text-5xl { font-size: 4.8rem; line-height: 1; }
.text-6xl { font-size: 6.0rem; line-height: 1; }

/* FONT WEIGHT */
.font-thin	     { font-weight: 100; }
.font-extralight { font-weight: 200; }
.font-light	     { font-weight: 300; }
.font-normal	 { font-weight: 400; }
.font-medium	 { font-weight: 500; }
.font-semibold	 { font-weight: 600; }
.font-bold   	 { font-weight: 700; }
.font-extrabold	 { font-weight: 800; }
.font-black	     { font-weight: 900; }

/* COLORS */
.bg-zinc-50 { background-color: var(--clr-zinc-50); }
.bg-zinc-100 { background-color: var(--clr-zinc-100); }
.bg-zinc-200 { background-color: var(--clr-zinc-200); }
.bg-zinc-300 { background-color: var(--clr-zinc-300); }
.bg-zinc-400 { background-color: var(--clr-zinc-400); }
.bg-zinc-500 { background-color: var(--clr-zinc-500); }
.bg-zinc-600 { background-color: var(--clr-zinc-600); }
.bg-zinc-700 { background-color: var(--clr-zinc-700); }
.bg-zinc-800 { background-color: var(--clr-zinc-800); }
.bg-zinc-900 { background-color: var(--clr-zinc-900); }

.text-zinc-50 { color: var(--clr-zinc-50); }
.text-zinc-100 { color: var(--clr-zinc-100); }
.text-zinc-200 { color: var(--clr-zinc-200); }
.text-zinc-300 { color: var(--clr-zinc-300); }
.text-zinc-400 { color: var(--clr-zinc-400); }
.text-zinc-500 { color: var(--clr-zinc-500); }
.text-zinc-600 { color: var(--clr-zinc-600); }
.text-zinc-700 { color: var(--clr-zinc-700); }
.text-zinc-800 { color: var(--clr-zinc-800); }
.text-zinc-900 { color: var(--clr-zinc-900); }