

/* COLORS */
.text-white	{ color: rgb(255 255 255); }

.text-gray-50	{ color: rgb(249 250 251); }
.text-gray-100	{ color: rgb(243 244 246); }
.text-gray-200	{ color: rgb(229 231 235); }
.text-gray-300	{ color: rgb(209 213 219); }
.text-gray-400	{ color: rgb(156 163 175); }
.text-gray-500	{ color: rgb(107 114 128); }
.text-gray-600	{ color: rgb(75 85 99); }
.text-gray-700	{ color: rgb(55 65 81); }
.text-gray-800	{ color: rgb(31 41 55); }
.text-gray-900	{ color: rgb(17 24 39); }

.bg-white	{ background-color: rgb(255 255 255); }

.bg-gray-50	    { background-color: rgb(249 250 251); }
.bg-gray-100	{ background-color: rgb(243 244 246); }
.bg-gray-200	{ background-color: rgb(229 231 235); }
.bg-gray-300	{ background-color: rgb(209 213 219); }
.bg-gray-400	{ background-color: rgb(156 163 175); }
.bg-gray-500	{ background-color: rgb(107 114 128); }
.bg-gray-600	{ background-color: rgb(75 85 99); }
.bg-gray-700	{ background-color: rgb(55 65 81); }
.bg-gray-800	{ background-color: rgb(31 41 55); }
.bg-gray-900	{ background-color: rgb(17 24 39); }

.text-sky-50	{ color: rgb(240 249 255);  }
.text-sky-100	{ color: rgb(224 242 254);  }
.text-sky-200	{ color: rgb(186 230 253);  }
.text-sky-300	{ color: rgb(125 211 252);  }
.text-sky-400	{ color: rgb(56 189 248);   }
.text-sky-500	{ color: rgb(14 165 233);   }
.text-sky-600	{ color: rgb(2 132 199);    }
.text-sky-700	{ color: rgb(3 105 161);    }
.text-sky-800	{ color: rgb(7 89 133);     }
.text-sky-900	{ color: rgb(12 74 110);    }

/* SPACING */

/* MARGIN */
.m-0	    { margin: 0px; }
.mx-0	    { margin-left: 0px; margin-right: 0px; }
.my-0	    { margin-top: 0px; margin-bottom: 0px; }
.mt-0	    { margin-top: 0px; }
.mr-0	    { margin-right: 0px; }
.mb-0	    { margin-bottom: 0px; }
.ml-0	    { margin-left: 0px; }
.m-px	    { margin: 1px; }
.mx-px	    { margin-left: 1px; margin-right: 1px; }
.my-px	    { margin-top: 1px; margin-bottom: 1px; }
.mt-px	    { margin-top: 1px; }
.mr-px	    { margin-right: 1px; }
.mb-px	    { margin-bottom: 1px; }
.ml-px	    { margin-left: 1px; }
.m-0_5	    { margin: 0.125rem; /* 2px */ }
.mx-0_5	    { margin-left: 0.125rem; /* 2px */ margin-right: 0.125rem; /* 2px */ }
.my-0_5	    { margin-top: 0.125rem; /* 2px */ margin-bottom: 0.125rem; /* 2px */ }
.mt-0_5	    { margin-top: 0.125rem; /* 2px */ }
.mr-0_5	    { margin-right: 0.125rem; /* 2px */ }
.mb-0_5	    { margin-bottom: 0.125rem; /* 2px */ }
.ml-0_5	    { margin-left: 0.125rem; /* 2px */ }
.m-1	    { margin: 0.25rem; /* 4px */ }
.mx-1	    { margin-left: 0.25rem; /* 4px */ margin-right: 0.25rem; /* 4px */ }
.my-1	    { margin-top: 0.25rem; /* 4px */ margin-bottom: 0.25rem; /* 4px */ }
.mt-1	    { margin-top: 0.25rem; /* 4px */ }
.mr-1	    { margin-right: 0.25rem; /* 4px */ }
.mb-1	    { margin-bottom: 0.25rem; /* 4px */ }
.ml-1	    { margin-left: 0.25rem; /* 4px */ }
.m-1_5	    { margin: 0.375rem; /* 6px */ }
.mx-1_5	    { margin-left: 0.375rem; /* 6px */ margin-right: 0.375rem; /* 6px */ }
.my-1_5	    { margin-top: 0.375rem; /* 6px */ margin-bottom: 0.375rem; /* 6px */ }
.mt-1_5	    { margin-top: 0.375rem; /* 6px */ }
.mr-1_5	    { margin-right: 0.375rem; /* 6px */ }
.mb-1_5	    { margin-bottom: 0.375rem; /* 6px */ }
.ml-1_5	    { margin-left: 0.375rem; /* 6px */ }
.m-2	    { margin: 0.5rem; /* 8px */ }
.mx-2	    { margin-left: 0.5rem; /* 8px */ margin-right: 0.5rem; /* 8px */ }
.my-2	    { margin-top: 0.5rem; /* 8px */ margin-bottom: 0.5rem; /* 8px */ }
.mt-2	    { margin-top: 0.5rem; /* 8px */ }
.mr-2	    { margin-right: 0.5rem; /* 8px */ }
.mb-2	    { margin-bottom: 0.5rem; /* 8px */ }
.ml-2	    { margin-left: 0.5rem; /* 8px */ }
.m-2_5	    { margin: 0.625rem; /* 10px */ }
.mx-2_5	    { margin-left: 0.625rem; /* 10px */ margin-right: 0.625rem; /* 10px */ }
.my-2_5	    { margin-top: 0.625rem; /* 10px */ margin-bottom: 0.625rem; /* 10px */ }
.mt-2_5	    { margin-top: 0.625rem; /* 10px */ }
.mr-2_5	    { margin-right: 0.625rem; /* 10px */ }
.mb-2_5	    { margin-bottom: 0.625rem; /* 10px */ }
.ml-2_5	    { margin-left: 0.625rem; /* 10px */ }
.m-3	    { margin: 0.75rem; /* 12px */ }
.mx-3	    { margin-left: 0.75rem; /* 12px */ margin-right: 0.75rem; /* 12px */ }
.my-3	    { margin-top: 0.75rem; /* 12px */ margin-bottom: 0.75rem; /* 12px */ }
.mt-3	    { margin-top: 0.75rem; /* 12px */ }
.mr-3	    { margin-right: 0.75rem; /* 12px */ }
.mb-3	    { margin-bottom: 0.75rem; /* 12px */ }
.ml-3	    { margin-left: 0.75rem; /* 12px */ }
.m-3_5	    { margin: 0.875rem; /* 14px */ }
.mx-3_5	    { margin-left: 0.875rem; /* 14px */ margin-right: 0.875rem; /* 14px */ }
.my-3_5	    { margin-top: 0.875rem; /* 14px */ margin-bottom: 0.875rem; /* 14px */ }
.mt-3_5	    { margin-top: 0.875rem; /* 14px */ }
.mr-3_5	    { margin-right: 0.875rem; /* 14px */ }
.mb-3_5	    { margin-bottom: 0.875rem; /* 14px */ }
.ml-3_5	    { margin-left: 0.875rem; /* 14px */                                           }
.m-4	    { margin: 1rem; /* 16px */ }
.mx-4	    { margin-left: 1rem; /* 16px */ margin-right: 1rem; /* 16px */ }
.my-4	    { margin-top: 1rem; /* 16px */ margin-bottom: 1rem; /* 16px */ }
.mt-4	    { margin-top: 1rem; /* 16px */ }
.mr-4	    { margin-right: 1rem; /* 16px */ }
.mb-4	    { margin-bottom: 1rem; /* 16px */ }
.ml-4	    { margin-left: 1rem; /* 16px */ }
.m-5	    { margin: 1.25rem; /* 20px */ }
.mx-5	    { margin-left: 1.25rem; /* 20px */ margin-right: 1.25rem; /* 20px */ }
.my-5	    { margin-top: 1.25rem; /* 20px */ margin-bottom: 1.25rem; /* 20px */ }
.mt-5	    { margin-top: 1.25rem; /* 20px */ }
.mr-5	    { margin-right: 1.25rem; /* 20px */ }
.mb-5	    { margin-bottom: 1.25rem; /* 20px */ }
.ml-5	    { margin-left: 1.25rem; /* 20px */ }
.m-6	    { margin: 1.5rem; /* 24px */ }
.mx-6	    { margin-left: 1.5rem; /* 24px */ margin-right: 1.5rem; /* 24px */ }
.my-6	    { margin-top: 1.5rem; /* 24px */ margin-bottom: 1.5rem; /* 24px */ }
.mt-6	    { margin-top: 1.5rem; /* 24px */ }
.mr-6	    { margin-right: 1.5rem; /* 24px */ }
.mb-6	    { margin-bottom: 1.5rem; /* 24px */ }
.ml-6	    { margin-left: 1.5rem; /* 24px */ }
.m-7	    { margin: 1.75rem; /* 28px */ }
.mx-7	    { margin-left: 1.75rem; /* 28px */ margin-right: 1.75rem; /* 28px */ }
.my-7	    { margin-top: 1.75rem; /* 28px */ margin-bottom: 1.75rem; /* 28px */ }
.mt-7	    { margin-top: 1.75rem; /* 28px */ }
.mr-7	    { margin-right: 1.75rem; /* 28px */ }
.mb-7	    { margin-bottom: 1.75rem; /* 28px */ }
.ml-7	    { margin-left: 1.75rem; /* 28px */ }
.m-8	    { margin: 2rem; /* 32px */ }
.mx-8	    { margin-left: 2rem; /* 32px */ margin-right: 2rem; /* 32px */ }
.my-8	    { margin-top: 2rem; /* 32px */ margin-bottom: 2rem; /* 32px */ }
.mt-8	    { margin-top: 2rem; /* 32px */ }
.mr-8	    { margin-right: 2rem; /* 32px */ }
.mb-8	    { margin-bottom: 2rem; /* 32px */ }
.ml-8	    { margin-left: 2rem; /* 32px */ }
.m-16       { margin: 4rem; /* 64px */ }
.mx-16      { margin-left: 4rem; margin-right: 4rem; /* 64px */ }
.my-16      { margin-top: 4rem; margin-bottom: 4rem; /* 64px */ }
.mt-16      { margin-top: 4rem; /* 64px */ }
.mr-16      { margin-right: 4rem; /* 64px */ }
.mb-16      { margin-bottom: 4rem; /* 64px */ }
.ml-16      { margin-left: 4rem; /* 64px */ }

.p-16           { padding: 4rem; /* 64px */ }
.px-16          { padding-left: 4rem; padding-right: 4rem; /* 64px */ }
.py-16          { padding-top: 4rem; padding-bottom: 4rem; /* 64px */ }
.pt-16          { padding-top: 4rem; /* 64px */ }
.pr-16          { padding-right: 4rem; /* 64px */ }
.pb-16          { padding-bottom: 4rem; /* 64px */ }
.pl-16          { padding-left: 4rem; /* 64px */ }

.p-64           { padding: 16rem; /* 256px */ }
.px-64          { padding-left: 16rem; padding-right: 16rem; /* 256px */ }
.py-64          { padding-top: 16rem; padding-bottom: 16rem; /* 256px */ }
.pt-64          { padding-top: 16rem; /* 256px */ }
.pr-64          { padding-right: 16rem; /* 256px */ }
.pb-64          { padding-bottom: 16rem; /* 256px */ }
.pl-64          { padding-left: 16rem; /* 256px */ }

.mx-auto { margin-left: auto; margin-right: auto; }

/* SIZING */
.max-w-0	        { max-width: 0rem; /* 0px */ }
.max-w-none	        { max-width: none; }
.max-w-xs	        { max-width: 20rem; /* 320px */ }
.max-w-sm	        { max-width: 24rem; /* 384px */ }
.max-w-md	        { max-width: 28rem; /* 448px */ }
.max-w-lg	        { max-width: 32rem; /* 512px */ }
.max-w-xl	        { max-width: 36rem; /* 576px */ }
.max-w-2xl	        { max-width: 42rem; /* 672px */ }
.max-w-3xl	        { max-width: 48rem; /* 768px */ }
.max-w-4xl	        { max-width: 56rem; /* 896px */ }
.max-w-5xl	        { max-width: 64rem; /* 1024px */ }
.max-w-6xl	        { max-width: 72rem; /* 1152px */ }
.max-w-7xl	        { max-width: 80rem; /* 1280px */ }
.max-w-full	        { max-width: 100%; }
.max-w-min	        { max-width: min-content; }
.max-w-max	        { max-width: max-content; }
.max-w-fit	        { max-width: fit-content; }
.max-w-prose	    { max-width: 65ch; }
.max-w-screen-sm	{ max-width: 640px; }
.max-w-screen-md	{ max-width: 768px; }
.max-w-screen-lg	{ max-width: 1024px; }
.max-w-screen-xl	{ max-width: 1280px; }
.max-w-screen-2xl	{ max-width: 1536px; }

/**************/
/* TYPOGRAPHY */
/**************/

/* FONT FAMILY */
.family-inter { font-family: 'Inter', sans-serif; }
.family-hurricane { font-family: 'Hurricane', cursive; }
.family-fira-code { font-family: 'Fira Code', monospace; }
.family-fira-sans { font-family: 'Fira Sans', sans-serif; }
.family-open-sans { font-family: 'Open Sans', sans-serif; }

/* FONT SIZE */
.text-xs	{ font-size: 0.75rem; /* 12px */    line-height: 1rem; /* 16px */       }
.text-sm	{ font-size: 0.875rem; /* 14px */   line-height: 1.25rem; /* 20px */    }
.text-base	{ font-size: 1rem; /* 16px */       line-height: 1.5rem; /* 24px */     }
.text-lg	{ font-size: 1.125rem; /* 18px */   line-height: 1.75rem; /* 28px */    }
.text-xl	{ font-size: 1.25rem; /* 20px */    line-height: 1.75rem; /* 28px */    }
.text-2xl	{ font-size: 1.5rem; /* 24px */     line-height: 2rem; /* 32px */       }
.text-3xl	{ font-size: 1.875rem; /* 30px */   line-height: 2.25rem; /* 36px */    }
.text-4xl	{ font-size: 2.25rem; /* 36px */    line-height: 2.5rem; /* 40px */     }
.text-5xl	{ font-size: 3rem; /* 48px */       line-height: 1;                     }
.text-6xl	{ font-size: 3.75rem; /* 60px */    line-height: 1;                     }
.text-7xl	{ font-size: 4.5rem; /* 72px */     line-height: 1;                     }
.text-8xl	{ font-size: 6rem; /* 96px */       line-height: 1;                     }
.text-9xl	{ font-size: 8rem; /* 128px */      line-height: 1;                     }

/* FONT WEIGHT */
.font-thin	        { font-weight: 100; }
.font-extralight    { font-weight: 200; }
.font-light	        { font-weight: 300; }
.font-normal	    { font-weight: 400; }
.font-medium	    { font-weight: 500; }
.font-semibold	    { font-weight: 600; }
.font-bold	        { font-weight: 700; }
.font-extrabold	    { font-weight: 800; }
.font-black	        { font-weight: 900; }

.font-weight-100	    { font-weight: 100; }
.font-weight-200        { font-weight: 200; }
.font-weight-300	    { font-weight: 300; }
.font-weight-400	    { font-weight: 400; }
.font-weight-500	    { font-weight: 500; }
.font-weight-600	    { font-weight: 600; }
.font-weight-700	    { font-weight: 700; }
.font-weight-800	    { font-weight: 800; }
.font-weight-900	    { font-weight: 900; }

/* TEXT TRANSFORM */
.uppercase	 { text-transform: uppercase;  }
.lowercase	 { text-transform: lowercase;  }
.capitalize	 { text-transform: capitalize; }
.normal-case { text-transform: none;       }

